html,body,#root {
  height: 100%;
}
body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  background: #fff;
  color: #111;
}
a { color: inherit; text-decoration: none; }